@* Reusable colorful logo + wordmark *@
<a class="brand-logo text-decoration-none d-inline-flex align-items-center gap-2" href="@Url.Action("Index", "Home")">
    <img src="~/images/logo-ssr.svg" width="40" height="40" alt="" class="brand-logo__mark flex-shrink-0" />
    <span class="brand-logo__text">
        <span class="brand-logo__title">SeeSharp</span><span class="brand-logo__title-accent">Reviews</span>
    </span>
</a>
