{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "User Id=SYSTEM;Password=oracle;Data Source=localhost:1521/pdb1"
  }
}
